streamlit>=1.32
pillow>=9.5
piexif>=1.1.3
pyproj>=3.6
pandas>=2.0
openpyxl>=3.1
pydeck>=0.8
pillow-heif>=0.16
streamlit-image-coordinates>=0.1.6
streamlit-folium
folium
ezdxf==1.3.0
lxml==5.2.1        # (kun hvis du velger å bruke lxml – koden over klarer seg uten)
pyproj>=3.6.0
